.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 10px 20px;
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.menu {
    display: flex;
    gap: 15px;
}

.connectWallet {
    background-color: orange;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}